<h3>Cart Info</h3>
<table class="table table-dark">
<thead>
    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of items">
        <td>
            <a (click)="remove(item.product.id)">X</a>
        </td>
        <td>{{item.product.id}}</td>
        <td>{{item.product.name}}</td>
        <td>
            <img src="../assets/images/{{item.product.photo}}.jpg" width="150">
        </td>
        <td>{{item.product.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price * item.quantity}}</td>
    </tr>
    <tr>
        <td colspan="6">Total</td>
        <td>{{total}}</td>
    </tr>
</tbody>
</table>