<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header">
    <a href="http://localhost:4200/products"><span class="glyphicon glyphicon-log-in"></span>Home</a>
  </div>

    <div class="navbar-header">
      <a href="http://localhost:4200/registerf"><span class="glyphicon glyphicon-user"></span>Register</a>
    </div>
    <div class="navbar-header">
      <a href="http://localhost:4200/loginf"><span class="glyphicon glyphicon-log-in"></span>Login</a>
    </div>
   
  </div>

</nav> 